
.Wrapper{
    display:inline-block;
    position:relative;
   
  }
  
  .PlaceHolder {
    border : 1px grey dashed;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Input {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
   
  }

  .ImgForAll {
    width:40vw;
    height:15vh;
  }

  .PicsContainer {
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 15px;
  }

  .PicsContainer div {
    width: 10%;
    /* height: 8vh; */
    margin: 0px 15px 15px 15px;
    position: relative;

  }

 

  .Slider {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 1200px) {
    .PicsContainer {
      width: 80%;
      /* height: 100px; */
    }
  
    .PicsContainer div {
      width: 100%;
      /* height: 8vh; */
      /* margin: 0px 15px 15px 15px; */
      position: relative;
  
    }
  
  }

  