.Link {
    color: black ;
    text-decoration: none;
    margin: 20px;
}
.Link:hover {
    color: #f8b407;
}

.DropdownMenu {
    width: min-content;
    --bs-dropdown-min-width: 90px;
}

.NavBarEn{
    height: 70px;
    padding: 15px;
    border-bottom-right-radius: 15px;
}
.NavBarAr{
    height: 70px;
    padding: 15px;
    border-bottom-left-radius: 15px;
}

.Active {
    color:white;
    background-color: #f8b407;
    padding: 3% 20% ;
    border-radius: 7px;
    text-decoration: none;
    margin: 0 20px;
}

.SideResBtn {
    display: none;
}


@media only screen and (max-width: 1200px) {
    .SideResBtn {
        display: inline;
    }
    .SideRes {
        display: none;
    }
   
}