
.wrapper{
    display:inline-block;
    position:relative;
    width:30vw;
    height:50vh;
  }
  
  .placeHolder {
    width:100%;
    height:50vh;
    border : 1px grey dashed;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:50vh;
  }

  .imgForAll {
    width:100%;
    height:50vh;
  }

 

  @media only screen and (max-width: 990px) {
    .ContainerForEditPro{
      width: 100%
    }
  }
  