.Main {
    width: 100vw;
    height: 100vh;
}

.Card {
    width: 60%;
    height: max-content;
    border-radius: 15px;
}
.Greeting{
    font-weight: 800;
    font-size: 25px;
    margin: 15px;
}
.Greeting2 {
    font-size: 15px;
}

.Input {
    margin: 5px;
    width: 100%;
    height: 3.5vh;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
}


.InputContainer {
    border: 1px solid #f8b407;
    border-radius: 10px;
    padding: 0 10px;
    margin: 5px;
    width:60%

}

.DropdownMenu {
    width: min-content;
    --bs-dropdown-min-width: 90px;
}

@media only screen and (max-width: 700px) {
    .Card {
        width: 100%;
        height: max-content;
        border-radius: 15px;
    }
    .InputContainer {
        border: 1px solid #f8b407;
        border-radius: 10px;
        padding: 0 10px;
        margin: 5px;
        width:100%
    
    }
}